<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <div class="container">

        <header>
            <%- include('partials/header') %>
        </header>

        <main>

            <div class="main-contatti">
                <div>Telefono: <%= telefono %></div>
                <div>Mail: <%= mail %></div>
            </div>

        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </div>

</body>

</html>